<!-- landing page starts -->
{% extends 'base.html' %} {% load static %} {% block body %}
<section id="home" class="site-title">
    <div class="content">
        <h2 id="line"><span id="typed"></span></h2>
        <a style="outline: none;" href="#featuress"> <button class="btn">Explore</button></a>
    </div>
</section>

<!-- landing page ends -->



<br><br><br><br><br>
<!-- small area -->

<!-- features area starts -->
<section id="featuress" class="site-second-tab">
    <h1 id="head">Features</h1>
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">


        <h3 id="uem">University Events Manager</h3>

        <div class="content">
            <h1 id="line"><span id="typed2"></span></h1>
        </div>



    </div>
</section>
<!-- features area ends -->


<!-- -----services area starts----- -->

<div id="servicess" class="services">
    <h1>What We do?</h1>
    <div class="container">
        <div class="row">
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                        <h4>Handling Events</h4>
                        <p>"We handle all kinds of Events such as Techinical, Non Techinical, Seminars, Webinar, symposium, Workshops etc.."<span style="visibility: hidden;">aaa aaaaaaaaaaa aaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaa aaaaaa aaaaaaaaa aaaaaaaa aaaaaa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                        <h4>Quick Registration</h4>
                        <p>"Here We allow you to quick registration for the events that is available. This Saves lots of time and your energy." <span style="visibility: hidden;">aaa aaaaaaaaaaa aaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaa aaaaaa aaaaaaaaa aaaaaaaa aaaaaa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i style="font-size: 4rem; margin-right: 1rem;" class="fa fa-rocket" aria-hidden="true"></i> </div>
                        <h4>Universal Access</h4>
                        <p>"We provide Universal Access to this website. One can use this website anywhere from this world and also register for any events."<span id="sp" style="visibility: hidden;">aaa aaa  aaaa aaaaaa aaa aa aa aa aaaa aaaa aaa a aaaaa aaa aaa aa aa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -----services area ends----- -->




<!-- -----footer area starts -->

<div class="footer">
    <h1>&copy; All Rights Reserved||Developed by <a href="https://dreamcreators.cf/">Dream Creators</a></h1>
</div>


<!-- -----footer area ends -->


<!-- ---------------------------------------------------javascript files----------------------------------------------------- -->



{% endblock %}