<!-- landing page starts -->
{% extends 'base.html' %} {% load static %} {% block preloader %}
<!--preloader starts-->


<div class="loader_bg">
    <div class="loader"></div>
</div>


<!--preloader ends-->
{% endblock %} {% block body %}




<section id="home" class="site-title">
    <div class="content">
        <h1 class="ml6">
            <span class="text-wrapper">
              <span class="letters">Attend Today And Achieve Tomorrow...</span>
            </span>
        </h1>
        <a id="neon" href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span> EXPLORE
        </a>
    </div>
</section>

<!-- landing page ends -->



<br><br><br><br><br>
<!-- small area -->

<!-- features area starts -->
<section id="featuress" class="site-second-tab">
    <h1 id="head">Features</h1>
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">


        <h3 id="uem">Online Attendance Manager</h3>

        <div class="content">
            <h1 id="line"><span id="typed2"></span></h1>
        </div>



    </div>
</section>
<!-- features area ends -->

<!-- -------------------about us ----- -->

<div class="about">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="abt-content">
        <p>Student attendance management system deals with the maintenance of the student's attendance details. It generates the attendance of the student on basis of presence in class. It is maintained on the daily basis of their attendance. The staffs
            will be provided with the separate username & password to make the student's status. The staffs handling the particular subjects responsible to make the attendance for all students. Only if the student present on that particular period, then
            the attendance will be calculated. The students attendance reports based on weekly and consolidate will be generated.</p>
    </div>
</div>




<!-- -----services area starts----- -->

<div id="servicess" class="services">
    <h1>What We do?</h1>
    <div class="container">
        <div class="row">
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                        <h4>Maintain Attendance</h4>

                        <p>"We do maintain attendance of each and every student in the class. And we also calculate the overall attendance."<span style="visibility: hidden;">aaa aaaaaaaaaaa aaa aaaaaaaa aaaa aaaaaaaaa aaaaaaaa aaaaaa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                        <h4>Quick Login</h4>

                        <p>"We Provide One-Step Login to our website which allows the user to login with their unique username and password" <span style="visibility: hidden;">aaa aaaaaaaaaaa aaa aaaaaa aaaaaa aaaaaaaaa aaaaaaaa aaaaaa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
            <div id="cards" class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <i style="font-size: 5.7rem; margin-right: 1rem;" class="fa fa-rocket" aria-hidden="true"></i> </div>
                        <h4>Universal Access</h4>
                        <p>"We provide Universal Access to this website. One can use this website anywhere from this world and also view their attendance progress."<span id="sp" style="visibility: hidden;">aaa aaa  aaaa aaaaaa aaa aa aa aa aaaa aaaa aaa a aaaaa aaa aaa aa aa </span></p>
                    </div>
                    <div class="shadowone"></div>
                    <div class="shadowtwo"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -----services area ends----- -->



<!-- -----footer area starts -->

<div class="footer">
    <h1>&copy; All Rights Reserved||Developed by <a style="font-weight: 900;" href="">Harish Kumar</a></h1>
</div>


<!-- -----footer area ends -->


<!-- ---------------------------------------------------javascript files----------------------------------------------------- -->

<!-- -----jquery cdn----- -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>

<!-- -----typed js----- -->
<script src="{% static 'js/typed.min.js' %}"></script>

<!-- -----imagesloaded js----- -->
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<!-- ------isotope galery cdn----- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>

<!-- -----custom js----- -->
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>

{% endblock %}